<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>новый человек</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/}" th:object="${user}">
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name">
    <label for="surName">surName</label>
    <input type="text" th:field="*{surName}" id="surName">
    <label for="city">city</label>
    <input type="text" th:field="*{city}" id="city">
    <label for="password">password</label>
    <input type="text" th:field="*{password}" id="password">
    <label for="login">login</label>
    <input type="text" th:field="*{login}" id="login">
    <label class="control-label" for="role">Role</label>
    <select class="form-control" th:field="*{role}" id="role">
        <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.name}"></option>

    <br/>
    <input type="submit" value="Create"/>
</form>
<a th:href="@{/logout}">Logout</a>
</body>
</html>